<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<properties>
		<property name="LOG_HOME">logs</property>
		<property name="FILE_NAME">kcslog</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="DevLog" />
			<AppenderRef ref="Console" />
		</Root>
		<logger name="com.kancolle.server.dao" level="DEBUG" additivity="false">
			<appender-ref ref="Console" />
		</logger>
	</Loggers>
</Configuration>