<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.furniture.BGMDao">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	<resultMap type="BaseBGM" id="BaseBGMRM" autoMapping="true">
		<id property="bgmId" column="BGM_ID"/>
	</resultMap>

	<resultMap type="BGM" id="BGMRM" autoMapping="true">
		<id property="index" column="INDEX"/>
		<result property="bgmId" column="BGM_ID"/>
		<result property="useCoin" column="USE_COIN"/>
		<result property="bgmFlag" column="BGM_FLAG"/>
	</resultMap>

		<select id="selectStart2BGMs" resultMap="BaseBGMRM">
			SELECT BGM_ID, NAME FROM t_bgm
		</select>

		<select id="selectBGMs" resultMap="BGMRM">
			SELECT * FROM t_bgm
		</select>
</mapper>