<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.furniture.FurnitureGraphMapper">

	<resultMap type="FurnitureGraphModel" id="FurnitureGraphModelRM">
		<id property="api_id" column="ID" />
		<result property="api_type" column="TYPE"/>
		<result property="api_no" column="NO"/>
		<result property="api_filename" column="FILENAME"/>
		<result property="api_version" column="VERSION"/>
	</resultMap>

	<select id="selectFurnitureGraphs" resultMap="FurnitureGraphModelRM">
		SELECT * FROM t_furniture_graph
	</select>

	<update id="replaceFurnitureGraph">
		INSERT INTO `kancolle`.`t_furniture_graph` (`ID`, `TYPE`, `NO`, `FILENAME`, `VERSION`) VALUES (#{ID}, #{TYPE}, #{NO}, #{FILENAME}, #{VERSION})
		ON DUPLICATE KEY
		UPDATE `ID`=#{ID}, `TYPE`=#{TYPE}, `NO`=#{NO}, `FILENAME`=#{FILENAME}, `VERSION`=#{VERSION}
	</update>
</mapper>