<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.furniture.FurnitureDao">

	<select id="countFurnituresByCond" resultType="int">
		SELECT COUNT(*) FROM t_member_furniture
		<where>
			<if test="member_id != null ">
				member_id = #{member_id}
			</if>
			<if test="furnitureIds != null ">
				AND furniture_id IN
				<foreach collection="furnitureIds" item="furniture_id" open="(" separator="," close=")">
					${furniture_id}
				</foreach>
			</if>
		</where>
	</select>

	<select id="selectMemberFurnitureByCond" resultType="int">
		SELECT mf.index FROM t_member_furniture mf INNER JOIN t_furniture f ON mf.`furniture_id` = f.`ID`
		<where>
			<if test="member_id != null ">
				mf.member_id = #{member_id}
			</if>
			<if test="furniture_id != null">
				AND mf.furniture_id = #{furniture_id}
			</if>
			<if test="furniture_type != null">
				AND f.type = #{furniture_type}
			</if>
		</where>
	</select>
</mapper>