<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.furniture.FurnitureDao">
	<resultMap type="Furniture" id="FurnitureRM" autoMapping="true">
		<id property="furnitureId" column="ID" />
		<result property="saleFalg" column="SALEFLG"/>
	</resultMap>

	<select id="selectMemberFurnitureByCond" resultMap="FurnitureRM">
		SELECT f.* FROM t_member_furniture mf INNER JOIN t_furniture f ON mf.furniture_id = f.ID
		<where>
			<if test="member_id != null ">
				mf.member_id = #{member_id}
			</if>
			<if test="furniture_id != null">
				AND mf.furniture_id = #{furniture_id}
			</if>
		</where>
	</select>

	<select id="selectFurnitureByCond" resultMap="FurnitureRM">
		SELECT * FROM t_furniture
		<where>
			<if test="furniture_type != null">
				TYPE = #{furniture_type}
			</if>
			<if test="furniture_no != null">
				AND NO = #{furniture_no}
			</if>
		</where>
	</select>

	<insert id="insertMemberFurniture">
		INSERT INTO t_member_furniture (member_id, furniture_id) VALUES (#{member_id}, #{furniture_id})
	</insert>

	<update id="costMemberFurnitureCoin">
		UPDATE t_member SET fcoin = fcoin - #{price} WHERE member_id = #{member_id}
	</update>
	
	<select id="selectCountOfMemberFurniture" resultType="int">
		SELECT COUNT(*) FROM t_member_furniture WHERE member_id = #{member_id}
	</select>
</mapper>