<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.furniture.MemberFurnitureDao">

	<resultMap type="MemberFurniture" id="MemberFurnitureRM">
		<result property="member_id" column="member_id" />
		<association property="furniture" column="furniture_id"
					 select="com.kancolle.server.mapper.furniture.FurnitureMapper.selectFurnitureById"/>
	</resultMap>

	<select id="selectMemberFurnitures" resultMap="MemberFurnitureRM">
		SELECT * FROM t_member_furniture WHERE member_id = #{member_id}
	</select>

	<select id="selectMemberFurnitureByCond" resultMap="MemberFurnitureRM">
		SELECT * FROM t_member_furniture
		<where>
			<if test="member_id != null ">
				member_id = #{member_id}
			</if>
			<if test="furniture_id != null">
				AND furniture_id = #{furniture_id}
			</if>
		</where>
	</select>

	<select id="selectCountOfMemberFurniture" resultType="_int">
		SELECT COUNT(*) FROM t_member_furniture WHERE member_id = #{member_id}
	</select>

	<insert id="insertMemberFurniture">
		INSERT INTO t_member_furniture (member_id, furniture_id) VALUES (#{member_id}, #{furniture_id})
	</insert>
	
	<insert id="insertFurnituresForNewMember">
		INSERT INTO t_member_furniture (member_id, furniture_id) SELECT #{_parameter}, ID FROM t_furniture WHERE t_furniture.`NO` = 0;
	</insert>

	<update id="changeMemberFurniture">
		UPDATE t_member SET furniture = #{furniture, typeHandler=IntJsonArrayHandler} WHERE member_id = #{member_id}
	</update>

	<update id="costMemberFurnitureCoin">
		UPDATE t_member SET fcoin = fcoin - #{price} WHERE member_id = #{member_id}
	</update>
</mapper>