<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.map.MapAreaMapper">

	<resultMap type="MapArea" id="MapAreaRM" autoMapping="true">
		<id property="mapareaId" column="ID"/>
	</resultMap>

	<select id="selectMapAreas" resultMap="MapAreaRM">
		SELECT * FROM t_map_area
	</select>
	
	<select id="selectMapAreaById" resultMap="MapAreaRM">
		SELECT * FROM t_map_area ID = #{maparea_id}
	</select>	
</mapper>