<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.map.MapBGMMapper">

    <resultMap type="MapBGMModel" id="MapBGMModelRM">
        <id property="api_id" column="ID"/>
        <result property="api_maparea_id" column="MAPAREA_ID"/>
        <result property="api_no" column="NO"/>
        <result property="api_map_bgm" column="MAP_BGM"/>
        <result property="api_boss_bgm" column="BOSS_BGM"/>
    </resultMap>

    <select id="selectMapBgms" resultMap="MapBGMModelRM">
        SELECT *
        FROM t_map_bgm
    </select>

</mapper>