<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.map.MapCellMapper">

<resultMap type="MapCell" id="MapCellRM" autoMapping="true">
	<id property="cellId" column="CELL_ID"/>
	<result property="rashinFlag"  column="RASHIN_FLAG"/>
	<result property="mapAreaId"  column="MAPAREA_ID"/>
	<result property="mapInfoId"  column="MAPINFO_ID"/>
	<result property="rashinId"  column="RASHIN_ID"/>
	<result property="colorNo"  column="COLOR_NO"/>
	<result property="eventId"  column="EVENT_ID"/>
	<result property="eventKind"  column="EVENT_KIND"/>
	<result property="commentKind"  column="COMMENT_KIND"/>
	<result property="production_kind"  column="PRODUCTION_KIND"/>
</resultMap>

	<select id="selectMapCellById" resultMap="MapCellRM">
		SELECT * FROM t_map_cell_traveller
		WHERE CELL_ID = #{cellId}
	</select>
</mapper>