<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.duty.DutyBonusDao">

<!-- 	<cache type="org.mybatis.caches.ehcache.EhcacheCache">
		<property name="eternal" value="true" />
		<property name="maxEntriesLocalHeap" value="300" />
		<property name="strategy" value="NONE" />
	</cache>  -->

	<resultMap type="DutyBonus" id="DutyBonusRM" autoMapping="true">
		<id property="dutyBonusId" column="ID"/>
		<result property="type" column="BONUS_TYPE"/>
		<result property="itemId" column="BONUS_ITEM_ID"/>
		<result property="count" column="BONUS_COUNT"/>
	</resultMap>
	
	<select id="selectDutyBonusByDutyNo" resultMap="DutyBonusRM">
		SELECT * FROM t_duty_bonus WHERE DUTY_NO = #{dutyNo}
	</select>
</mapper>