<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.deckport.UnderSeaDeckPortMapper">

	<resultMap type="UnderSeaDeckPort" id="UnderSeaDeckPortRM" autoMapping="true">
		<id property="id" column="INDEX"/>
		<result property="mapCellId" column="MAPCELL_ID"/>
		<result property="no" column="NO"/>
		<result property="deckName" column="DECKPORT_NAME"/>
		<result property="exp" column="BASE_EXP"/>
		<result property="memberExp" column="MEMBER_EXP"/>
		<collection property="underSeaShips" ofType="UnderSeaShip" column="{map_cell_id=MAPCELL_ID, no=NO}" select="selectUnderSeaDeckPortShips"/>
	</resultMap>

	<select id="selectUnderSeaDeckPorts" resultMap="UnderSeaDeckPortRM">
		SELECT * FROM v_enemy_deckport WHERE MAPCELL_ID = #{map_cell_id}
	</select>

	<select id="selectUnderSeaDeckPortById" resultMap="UnderSeaDeckPortRM">
		SELECT * FROM v_enemy_deckport WHERE `INDEX` = #{id}
	</select>

	<select id="selectUnderSeaDeckPortShips" resultMap="com.kancolle.server.dao.ship.UnderSeaShipMapper.UnderSeaShipRM">
		SELECT m.SHIP_ID FROM t_enemy_deckport_mapping m
		INNER JOIN v_enemy_deckport d ON d.MAPCELL_ID = m.MAPCELL_ID AND d.NO = m.NO
		WHERE m.MAPCELL_ID = #{map_cell_id} AND m.NO = #{no}
		ORDER BY POSITION(CONCAT(m.`SHIP_ID`, ',') IN d.SHIP)
	</select>
</mapper>