<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.deckport.EnemyDeckPortMapper">

	<resultMap type="EnemyDeckPort" id="EnemyDeckPortRM">
		<id property="mapCellId" column="MAPCELL_ID"/>
		<id property="no" column="NO"/>
		<collection property="enemyShips" ofType="EnemyShip" column="{map_cell_id=MAPCELL_ID, no=NO}" select="selectEnemyDeckPortShips"/>
	</resultMap>

	<select id="selectEnemyDeckPorts" resultMap="EnemyDeckPortRM">
		SELECT * FROM t_enemy_deckport WHERE MAPCELL_ID = #{map_cell_id}
	</select>

	<select id="selectEnemyDeckPortShips" resultMap="com.kancolle.server.dao.ship.ShipDao.EnemyShipRM">
		SELECT m.SHIP_ID FROM t_enemy_deckport_mapping m
		INNER JOIN t_enemy_deckport d ON d.MAPCELL_ID = m.MAPCELL_ID AND d.NO = m.NO
		WHERE m.MAPCELL_ID = #{map_cell_id} AND m.NO = #{no}
		ORDER BY POSITION(CONCAT(m.`SHIP_ID`, ',') IN d.SHIP)
	</select>
</mapper>