<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.member.MemberUseItemDao">

	<resultMap type="MemberUseItem" id="MemberUseItemRM" autoMapping="true">
		<id property="member_id" column="member_id"/>
		<id property="useItemId" column="ID"/>
		<result property="description" column="DESCRIPTION" typeHandler="JsonArrayHandler"/>
	</resultMap>

	<select id="selectMemberUseItems" resultMap="MemberUseItemRM">
		SELECT * FROM (
				SELECT
					mu.`member_id` AS `member_id`,
					mu.`ID` AS `ID`,
					u.`USETYPE` AS `USETYPE`,
					u.`CATEGORY` AS `CATEGORY`,
					u.`NAME` AS `NAME`,
					'["",""]' AS `DESCRIPTION`,
					u.`PRICE` AS `PRICE`,
					mu.`COUNT` AS `COUNT`
				FROM
					`t_member_useitem` mu
				JOIN `t_useitem` u ON mu.`ID` = u.`ID`
				WHERE
					mu.`COUNT` > 0 AND mu.member_id = #{member_id}
				UNION ALL
				SELECT
					ms.member_id AS `member_id`,
					u.ID AS `ID`,
					u.USETYPE AS `USETYPE`,
					u.CATEGORY AS `CATEGORY`,
					u.`NAME` AS `NAME`,
					'["",""]' AS `DESCRIPTION`,
					u.PRICE AS `PRICE`,
					COUNT(u.ID) AS `COUNT`
				FROM
					t_member_slotitem ms
				JOIN t_slotitem s ON s.ID = ms.SLOTITEM_ID
				JOIN t_useitem u ON ((s.ID = 42 AND u.ID = 50) OR (s.ID = 43 AND u.ID = 51))
				WHERE
					member_id = #{member_id}
				GROUP BY ms.member_id, ms.SLOTITEM_ID
				) tmp
		ORDER BY member_id, ID
	</select>

	<select id="selectCountOfMemberItem" resultType="_int">
		SELECT COUNT FROM t_member_useitem WHERE member_id = #{member_id} AND ID = #{useitem_id}
	</select>
	
	<insert id="insertMemberUseItems">
		INSERT INTO t_member_useitem (member_id, ID, COUNT) VALUES
			<foreach collection="useItemIds" item="useItemId" separator=",">
				(#{member_id}, #{useItemId}, 0)
			</foreach>
	</insert>
	
	<update id="addMemberUseItemCount">
		UPDATE t_member_useitem SET COUNT = COUNT + #{add_count} WHERE member_id = #{member_id} AND ID = #{useitem_id}
	</update>
</mapper>