<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.slotitem.SlotItemDao">

	<resultMap type="SlotItem" id="slotItemRM" autoMapping="true">
		<id property="slotItemId" column="ID" />
		<result property="useBull" column="USEBULL" />
		<result property="type" column="TYPE" typeHandler="IntJsonArrayHanlder" />
		<result property="broken" column="BROKEN" typeHandler="ResourceVauleHandler" />
	</resultMap>

	<select id="selectSlotItems" resultMap="slotItemRM">
		SELECT * FROM t_slotitem
	</select>

	<select id="selectCountOfSlotItemTypes" resultType="int">
		SELECT COUNT(*) FROM t_slotitem_equiptype
	</select>

	<select id="selectSlotItemById" resultMap="slotItemRM">
		SELECT * FROM t_slotitem WHERE ID = #{slotitem_id}
	</select>
</mapper>