<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.slotitem.SlotItemDao">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache">
		<property name="eternal" value="true"/>
		<property name="maxEntriesLocalHeap" value="300"/>
		<property name="strategy" value="NONE"/>
	</cache>

	<resultMap type="SlotItem" id="slotItemRM" autoMapping="true">
		<id property="slotItemId" column="ID" />
		<result property="useBull" column="USEBULL" />
		<result property="type" column="TYPE" typeHandler="IntJsonArrayHandler" />
		<result property="broken" column="BROKEN" typeHandler="ResourceVauleHandler" />
	</resultMap>
	
	<resultMap type="EnemySlotItem" id="EnemySlotItemRM" autoMapping="true">
		<association property="slotItem" column="SLOTITEM_ID" select="com.kancolle.server.dao.slotitem.SlotItemDao.selectSlotItemsByCond" />
	</resultMap>

	<select id="selectSlotItemsByCond" resultMap="slotItemRM">
		SELECT * FROM t_slotitem
		<where>
			<if test="_parameter != null">ID = #{slotitem_id}</if>
		</where>
	</select>

	<select id="selectCountOfSlotItemTypes" resultType="_int">
		SELECT COUNT(*) FROM t_slotitem_equiptype
	</select>

	<select id="selectSlotItemsCanDevelop" resultMap="slotItemRM">
		SELECT * FROM t_slotitem WHERE DEVELOP = 1 AND func_get_split_string(TYPE,3) = #{slotitem_type} ORDER BY RARE ASC
	</select>

	<select id="selectEnemyShipSlots" resultMap="EnemySlotItemRM">
		SELECT m.SLOTITEM_ID FROM t_enemy_ship_slotitem_mapping m 
			INNER JOIN t_enemy_ship_slotitem s ON s.`ENEMY_SHIP_ID` = m.`SHIP_ID` 
		WHERE m.`SHIP_ID` = #{enemy_ship_id}
		ORDER BY POSITION(m.`SLOTITEM_ID` + ',' IN s.`SLOT`)
	</select>
</mapper>