<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.member.MemberDeckPort">

	<resultMap type="MemberDeckPort" id="MemberDeckPortRM" autoMapping="true">
		<id property="memberId" column="member_id" />
		<id property="deckId" column="ID" />
		<result property="name_id" column="NAME_ID" />
		<result property="mission" column="MISSION" typeHandler="LongJsonArrayHanlder"/>
		<result property="ship" column="SHIP" typeHandler="LongJsonArrayHanlder"/>
		<collection property="ships" ofType="MemberShip" column="{member_id=member_id,deck_id=ID}" select="com.kancolle.server.dao.ship.MemberShipDao.selectMemberDeckPortShips" />
	</resultMap>

	<select id="selectMemberDecksPortByCond" resultMap="MemberDeckPortRM">
		SELECT * FROM v_member_deckport
		<where>
			<if test="member_id != null">member_id = #{member_id}</if>
			<if test="deck_id != null">AND ID = #{deck_id}</if>
		</where>
	</select>
</mapper>