<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.member.MemberNdockDao">

	<resultMap type="MemberNdock" id="MemberNdockRM" autoMapping="true">
		<id property="memberId" column="member_id" />
		<id property="dockId" column="ID" />
		<result property="memberShipId" column="SHIP_ID" />
		<result property="completeTime" column="COMPLETE_TIME" />
		<result property="completeTimeStr" column="COMPLETE_TIME_STR" />
	</resultMap>

	<select id="selectMemberNdocks" resultMap="MemberNdockRM">
		SELECT * FROM t_member_ndock WHERE member_id = #{member_id}
	</select>

	<select id="selectMemberNdockByCond" resultMap="MemberNdockRM">
		SELECT * FROM t_member_ndock
			<where>
				<if test="member_id != null">
					member_id = #{member_id}
				</if>
				<if test="ndock_id != null">
					AND ID = #{ndock_id}
				</if>
			</where>
	</select>

	<select id="selectMemberNdockByMemberIdAndMemberShipId" resultMap="MemberNdockRM">
		SELECT * FROM t_member_ndock
		<where>
			<if test="member_id != null"> member_id = #{member_id} </if>
			<if test="member_ship_id != null">AND SHIP_ID = #{member_ship_id}</if>
		</where>
	</select>

	<insert id="insertMemberNdocks">
		REPLACE INTO t_member_ndock (member_id, ID, STATE) VALUES
			<foreach collection="list" item="ndock" separator=",">
				(#{ndock.memberId}, #{ndock.dockId}, #{ndock.state})
			</foreach>
	</insert>
	
	<update id="updateMemberNdock">
		UPDATE t_member_ndock SET
			STATE = #{state},
			SHIP_ID = #{memberShipId},
			COMPLETE_TIME = #{completeTime},
			COMPLETE_TIME_STR = #{completeTimeStr},
			ITEM1 = #{item1},
			ITEM2 = #{item2},
			ITEM3 = #{item3},
			ITEM4 = #{item4}
		WHERE
			member_id = #{memberId}
			AND ID = #{dockId}
	</update>
</mapper>