<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.member.MemberNdockDao">

	<resultMap type="MemberKdock" id="MemberKdockRM" autoMapping="true">
		<id property="memberId" column="member_id" />
		<id property="kdockId" column="ID" />
		<result property="createShipId" column="CREATED_SHIP_ID" />
		<result property="completeTime" column="COMPLETE_TIME" />
		<result property="completeTimeStr" column="COMPLETE_TIME_STR" />
		<result property="item1" column="ITEM1"/>
		<result property="item2" column="ITEM2"/>
		<result property="item3" column="ITEM3"/>
		<result property="item4" column="ITEM4"/>
		<result property="item5" column="ITEM5"/>
	</resultMap>

	<select id="selectMemberKdockByCond" resultMap="MemberKdockRM">
		SELECT * FROM t_member_kdock WHERE member_id = #{member_id}
		<if test="kdock_id != null">AND ID = #{kdock_id}</if>
	</select>
	
	<update id="updateMemberKdock">
		UPDATE t_member_kdock SET 
			STATE = #{state},
			CREATED_SHIP_ID = #{createShipId},
			COMPLETE_TIME = #{completeTime},
			COMPLETE_TIME_STR = #{completeTimeStr},
			ITEM1 = #{item1},
			ITEM2 = #{item2},
			ITEM3 = #{item3},
			ITEM4 = #{item4},
			ITEM5 = #{item5}
		WHERE member_id = #{memberId} AND ID = #{kdockId}
	</update>
</mapper>