<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.ship.UnderSeaShipMapper">

    <resultMap id="UnderSeaShipRM" type="UnderSeaShip">
        <association property="ship" column="SHIP_ID" javaType="Ship" select="com.kancolle.server.mapper.ship.ShipMapper.selectShipsByCond" />
        <collection property="slot" ofType="UnderSeaSlotItem" column="SHIP_ID" select="com.kancolle.server.dao.slotitem.SlotItemDao.selectUnderSeaShipSlots"/>
    </resultMap>

</mapper>