<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.ship.MemberShipDao">

	<resultMap type="MemberShip" id="memberShipRM" autoMapping="true">
		<id property="memberId" column="member_id" />
		<id property="memberShipId" column="ID" />
		<result property="exp" column="EXP" typeHandler="LongJsonArrayHanlder" />
		<result property="nowHp" column="NOWHP" />
		<result property="maxHp" column="MAXHP" />
		<result property="api_slot" column="SLOT" typeHandler="LongJsonArrayHanlder" />
		<result property="onslot" column="ONSLOT" typeHandler="IntJsonArrayHanlder" />
		<result property="ndockTime" column="NDOCK_TIME" />
		<result property="ndockItem" column="NDOCK_ITEM" typeHandler="IntJsonArrayHanlder" />
		<result property="karyoku" column="KARYOKU" typeHandler="MaxMinValueHandler" />
		<result property="raisou" column="RAISOU" typeHandler="MaxMinValueHandler" />
		<result property="taiku" column="TAIKU" typeHandler="MaxMinValueHandler" />
		<result property="soukou" column="SOUKOU" typeHandler="MaxMinValueHandler" />
		<result property="kaihi" column="KAIHI" typeHandler="MaxMinValueHandler" />
		<result property="taisen" column="TAISEN" typeHandler="MaxMinValueHandler" />
		<result property="sakuteki" column="SAKUTEKI" typeHandler="MaxMinValueHandler" />
		<result property="lucky" column="LUCKY" typeHandler="MaxMinValueHandler" />
		<result property="lockedEquip" column="LOCKED_EQUIP" />
		<association property="ship" column="SHIP_ID" javaType="Ship" select="com.kancolle.server.dao.ship.ShipDao.selectShipById" />
		<collection property="slot" ofType="MemberSlotItem" column="{member_id=member_id,ship_id=ID}" select="com.kancolle.server.dao.slotitem.MemberSlotItemDao.selectMemberShipSlots"/>
	</resultMap>

	<select id="selectMemberShipByCond" resultMap="memberShipRM">
		SELECT * FROM v_member_ship
		<where>
			<if test="ship_id != null">
				ID = #{ship_id}
			</if>
			<if test="member_id != null">
				AND member_id = #{member_id}
			</if>
		</where>
	</select>

	<select id="selectCountOfMemberShip" resultType="int">
		SELECT COUNT(*) FROM v_member_ship WHERE member_id = #{member_id}
	</select>
	
	<update id="chargeMemberShips">
		UPDATE v_member_ship ms, t_ship s
		<set>
			<if test="charge_kind == 1 or charge_kind == 3">ms.FUEL = s.FUEL_MAX, ms.ONSLOT = s.MAXEQ,</if>
			<if test="charge_kind == 2 or charge_kind == 3">ms.BULL = s.BULL_MAX</if>
		</set>
		WHERE ms.`SHIP_ID` = s.ID
		AND ms.member_id = #{member_id}
		AND ms.ID IN <foreach collection="memberShip_ids" item="id" open="(" separator="," close=")">#{id}</foreach>
	</update>
	
	<update id="updateMemberExp">
		UPDATE v_member_ship SET
			LV = #{lv},
			EXP = #{exp, typeHandler=LongJsonArrayHanlder}
		WHERE member_id = #{member_id} AND ID = #{memberShip_id}
	</update>
	
	<update id="updateMemberShipSlot">
		UPDATE v_member_ship SET
			LENG = #{leng},
			LOCKED_EQUIP = #{lockedEquip},
			SLOT = #{SLOT}
		WHERE member_id = #{memberId} AND ID = #{memberShipId}
	</update>
	
	<update id="updateMemberShipSlotMapping">
		UPDATE t_member_ship_slot_mapping SET
			
	</update>
</mapper>