<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.ship.MemberShipSlotItemDao">

	<insert id="insertMemberSlotItemMapping">
		INSERT INTO t_member_ship_slotitem_mapping (member_id,member_ship_id,member_slotitem_id) VALUES 
		(#{member_id}, #{member_ship_id}, #{member_slotitem_id})
	</insert>
	
	<delete id="deleteMemberSlotItemMapping">
		DELETE FROM t_member_ship_slotitem_mapping
		WHERE
			member_id = #{member_id}
			AND member_ship_id = #{member_ship_id}
			AND member_slotitem_id = #{member_slotitem_id}
	</delete>
	
	<update id="updateMemberSlotItemMapping">
		UPDATE t_member_ship_slotitem_mapping
			SET member_slotitem_id = #{replace_slotitem_id}
		WHERE
			member_id = #{member_id}
			AND member_ship_id = #{member_ship_id}
			AND member_slotitem_id = #{removed_slotitem_id}
	</update>
</mapper>