<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.ship.ShipTypeMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache">
		<property name="eternal" value="true"/>
		<property name="maxEntriesLocalHeap" value="50"/>
		<property name="strategy" value="NONE"/>
	</cache>

	<resultMap type="ShipType" id="ShipTypeRM" autoMapping="true">
		<constructor>
			<arg javaType="String" column="EQUIP_TYPE" />
		</constructor>
		<id property="shipTypeId" column="ID" />
		<id property="sortNo" column="SORTNO" />
	</resultMap>

	<select id="selectShipTypes" resultMap="ShipTypeRM">
		SELECT * FROM t_ship_type
	</select>
	
	<select id="selectShipTypeByCond" resultMap="ShipTypeRM">
		SELECT * FROM t_ship_type WHERE ID = #{type_id}
	</select>

	<select id="selectCountOfShipTypes" resultType="_int">
		SELECT COUNT(*) FROM t_slotitem_equiptype
	</select>

	<update id="updateShipType">
		INSERT INTO `kancolle`.`t_ship_type` (`ID`, `EQUIP_TYPE`, `KCNT`, `NAME`, `SCNT`, `SORTNO`) VALUES
		(#{ID}, #{EQUIP_TYPE, typeHandler=JsonObjectHandler}, #{KCNT}, #{NAME}, #{SCNT}, #{SORTNO})
		ON DUPLICATE KEY UPDATE
		 `ID`=#{ID}, `EQUIP_TYPE`= #{EQUIP_TYPE, typeHandler=JsonObjectHandler}, `KCNT`=#{KCNT}, `NAME`=#{NAME}, `SCNT`=#{SCNT}, `SORTNO`=#{SORTNO}
	</update>
</mapper>