<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.mapper.ship.ShipGraphMapper">

    <insert id="replace">
		REPLACE INTO `kancolle`.`t_ship_graph` (`ID`, `SORTNO`, `FILENAME`, `VERSION`, `BOKO_N`, `BOKO_D`, `KAISYU_N`, `KAISYU_D`, `KAIZO_N`, `KAIZO_D`, `MAP_N`, `MAP_D`, `ENSYUF_N`, `ENSYUF_D`, `ENSYUE_N`, `BATTLE_N`, `BATTLE_D`, `WEDA`, `WEDB`) VALUES
		(#{ID}, #{SORTNO},#{FILENAME},#{VERSION,  typeHandler=JsonArrayHandler},
		#{BOKO_N,  typeHandler=JsonArrayHandler},#{BOKO_D,  typeHandler=JsonArrayHandler},
		#{KAISYU_N,  typeHandler=JsonArrayHandler}, #{KAISYU_D,  typeHandler=JsonArrayHandler},
		#{KAIZO_N,  typeHandler=JsonArrayHandler}, #{KAIZO_D,  typeHandler=JsonArrayHandler},
		#{MAP_N,  typeHandler=JsonArrayHandler}, #{MAP_D,  typeHandler=JsonArrayHandler},
	    #{ENSYUF_N,  typeHandler=JsonArrayHandler}, #{ENSYUF_D,  typeHandler=JsonArrayHandler},
		#{ENSYUE_N,  typeHandler=JsonArrayHandler}, #{BATTLE_N,  typeHandler=JsonArrayHandler},
	  	#{BATTLE_D,  typeHandler=JsonArrayHandler}, #{WEDA,  typeHandler=JsonArrayHandler},
	  	#{WEDB,  typeHandler=JsonArrayHandler});
	</insert>
</mapper>