<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.ship.ShipDao">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	<resultMap type="Ship" id="shipRM" autoMapping="true">
		<id property="shipId" column="ID" />
		<result property="afterLv" column="AFTERLV" />
		<result property="taik" column="TAIK" typeHandler="MaxMinValueHandler" />
		<result property="souk" column="SOUK" typeHandler="MaxMinValueHandler" />
		<result property="houg" column="HOUG" typeHandler="MaxMinValueHandler" />
		<result property="raig" column="RAIG" typeHandler="MaxMinValueHandler" />
		<result property="tyku" column="TYKU" typeHandler="MaxMinValueHandler" />
		<result property="luck" column="LUCK" typeHandler="MaxMinValueHandler" />
		<result property="kaihi" column="KAIHI" typeHandler="MaxMinValueHandler" />
		<result property="taisen" column="TAISEN" typeHandler="MaxMinValueHandler" />
		<result property="sakuteki" column="SAKUTEKI" typeHandler="MaxMinValueHandler" />
		<result property="soltNum" column="SLOTNUM" />
		<result property="maxEq" column="MAXEQ" typeHandler="IntJsonArrayHanlder" />
		<result property="buildTime" column="BUILDTIME" />
		<result property="broken" column="BROKEN" typeHandler="ResourceVauleHandler" />
		<result property="powUp" column="POWUP" typeHandler="PowUpHanlder" />
		<result property="afterFuel" column="AFTERFUEL" />
		<result property="afterBull" column="AFTERBULL" />
		<result property="fuelMax" column="FUEL_MAX" />
		<result property="bullMax" column="BULL_MAX" />
		<association property="afterShip" column="AFTERSHIPID" javaType="Ship" select="selectShipById" />
	</resultMap>

	<select id="selectShipById" resultMap="shipRM" parameterType="_int">
		SELECT * FROM t_ship WHERE ID = #{ship_id}
	</select>

	<select id="selectNeedShipExpByLevel" resultType="long">
		SELECT EXP FROM t_exp_ship WHERE LV = #{level}
	</select>

	<select id="selectShipLVByExp" resultType="int">
		SELECT LV FROM t_exp_ship WHERE #{exp} >= EXP ORDER BY EXP DESC LIMIT 1
	</select>
</mapper>