<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kancolle.server.dao.ship.ShipDao">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache">
		<property name="eternal" value="true"/>
		<property name="maxEntriesLocalHeap" value="1000"/>
		<property name="strategy" value="NONE"/>
	</cache>

	<resultMap type="BaseShip" id="BaseShipRM" autoMapping="true">
		<id property="shipId" column="ID" />
		<result property="soltNum" column="SLOTNUM" />
		<association property="type" column="TYPE" javaType="ShipType" select="com.kancolle.server.dao.ship.ShipTypeDao.selectShipTypeByCond"/>
	</resultMap>

	<resultMap type="Ship" id="ShipRM" autoMapping="true">
		<id property="shipId" column="ID" />
		<result property="afterLv" column="AFTERLV" />
		<result property="taik" column="TAIK" typeHandler="MaxMinValueHandler" />
		<result property="souk" column="SOUK" typeHandler="MaxMinValueHandler" />
		<result property="houg" column="HOUG" typeHandler="MaxMinValueHandler" />
		<result property="raig" column="RAIG" typeHandler="MaxMinValueHandler" />
		<result property="tyku" column="TYKU" typeHandler="MaxMinValueHandler" />
		<result property="luck" column="LUCK" typeHandler="MaxMinValueHandler" />
		<result property="kaihi" column="KAIHI" typeHandler="MaxMinValueHandler" />
		<result property="taisen" column="TAISEN" typeHandler="MaxMinValueHandler" />
		<result property="sakuteki" column="SAKUTEKI" typeHandler="MaxMinValueHandler" />
		<result property="soltNum" column="SLOTNUM" />
		<result property="maxEq" column="MAXEQ" typeHandler="IntJsonArrayHanlder" />
		<result property="buildTime" column="BUILDTIME" />
		<result property="broken" column="BROKEN" typeHandler="ResourceVauleHandler" />
		<result property="powUp" column="POWUP" typeHandler="PowUpHanlder" />
		<result property="afterFuel" column="AFTERFUEL" />
		<result property="afterBull" column="AFTERBULL" />
		<result property="fuelMax" column="FUEL_MAX" />
		<result property="bullMax" column="BULL_MAX" />

		<association property="type" column="TYPE" javaType="ShipType" select="com.kancolle.server.dao.ship.ShipTypeDao.selectShipTypeByCond"/>
		<association property="afterShip" column="AFTERSHIPID" javaType="Ship" select="selectShipsByCond" />
	</resultMap>

	<resultMap type="EnemyShip" id="EnemyShipRM" autoMapping="true">
		<association property="ship" column="SHIP_ID" javaType="Ship" select="com.kancolle.server.dao.ship.ShipDao.selectShipsByCond" />
		<collection property="slot" ofType="SlotItem" column="ID" select="com.kancolle.server.dao.slotitem.SlotItemDao.selectEnemyShipSlots"/>
	</resultMap>

	<select id="selectEmShip" resultMap="BaseShipRM">
		SELECT ID, NAME, YOMI, TYPE, SOKU, SLOTNUM FROM t_ship WHERE ID BETWEEN 501 AND 900
	</select>

	<select id="selectEnemyDeckPortShips" resultMap="EnemyShipRM">
		SELECT s.* FROM t_enemy_deckport_mapping m
			INNER JOIN t_ship s ON s.ID = m.SHIP_ID
			INNER JOIN t_enemy_deckport d ON d.MAPCELL_ID = m.MAPCELL_ID AND d.NO = m.NO
		WHERE m.MAPCELL_ID = #{map_cell_id} AND m.NO = #{no}
		ORDER BY POSITION(CAST(s.`ID` AS CHAR) IN d.SHIP)
	</select>

	<select id="selectShipsByCond" resultMap="ShipRM">
		SELECT * FROM t_ship
		<where>
			<choose>
				<when test="_parameter != null">ID = #{ship_id}</when>
				<otherwise>ID BETWEEN 1 AND 500</otherwise>
			</choose>
		</where>
	</select>

	<select id="selectShipIdsBySortNo" resultType="_int">
		SELECT ID FROM t_ship WHERE SORTNO = #{sort_no} AND ID BETWEEN 1 AND 500
	</select>

	<!-- ANOTHER TABLE -->
	<select id="selectNeedShipExpByLevel" resultType="_long">
		SELECT EXP FROM t_exp_ship WHERE LV = #{level}
	</select>

	<select id="selectShipLVByExp" resultType="_int">
		SELECT LV FROM t_exp_ship WHERE #{exp} >= EXP ORDER BY EXP DESC LIMIT 1
	</select>
	<!-- ANOTHER TABLE -->
</mapper>